.loginWrapper {
    width: min(90%, 350px);
    position: relative;
    min-height: 50dvh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}