.homeWrapper {
    background-color: #ead0ed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;

    .themeButtonToggler {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 2;
    }

    button {
        margin-right: 5px;
        border-radius: 10px;

    }

    .whiteContainer {

        height: min(80vh, 700px);
        max-width: 1000px;
        border-radius: 35px;
        overflow: hidden;
        width: 100%;

        .ant-card-body {
            display: flex;
            height: 100%;
            position: relative;
            z-index: 2;
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;

            .leftSide {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 50px;

            }

            .rightSide {
                width: 50%;
                position: relative;

                .maskSvg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%
                }

                .getStarterButton {
                    position: absolute;
                    right: 15%;
                    top: 7%;
                    transform: translate(50%, -50%);

                    z-index: 2;
                    cursor: pointer;
                }

                .bottomSearchBar {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    width: 80%;
                    transform: translateX(-50%);

                    background: var(--mask);
                    border-radius: 10px;


                    button {
                        margin-right: 5px;
                        border-radius: 10px;

                    }
                }
            }
        }
    }

    .backImage {
        position: fixed;
        width: 50vw;
        height: 100vh;
        object-fit: cover;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);


    }
}

#dark.homeWrapper {
    background-color: #756877;

    .backImage {
        filter: brightness(0.5);
    }

    .leftSide {
        background-color: var(--black);
    }

    .bottomSearchBar {
        background: var(--hard-dark-mask);
    }
}


@media screen and (max-width: 1200px) {
    .homeWrapper {
        .whiteContainer {
            .ant-card-body {
                background-color: var(--hard-mask);

                .rightSide {
                    display: none;
                }

                .leftSide {

                    .bigText {
                        font-size: clamp(1rem, 10vw, 4rem);
                    }
                }
            }
        }

        .backImage {
            width: 100vw;
            left: 0;
        }
    }

    #dark.homeWrapper .whiteContainer {
        .leftSide {
            background-color: var(--hard-dark-mask);
        }

    }

}