.navbarWrapper {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    .brandContainer {
        display: flex;
        align-items: center;
        gap: 20px;

        .brandText {
            max-width: 50dvw;
            font-size: 1rem;
            font-weight: 600;
            color: var(--primary-color);
        }
    }

    .logoutIcon {
        margin-left: 16px;
    }
}