.navbarWrapper{
    display: flex;
    height: 80px;
    padding-inline: 20px;
    position: sticky;
    top: 0;
    left: 80px;
    z-index: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}