.sidebarWrapper {
    z-index: 10;
    overflow: auto;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;



    .titleMiniRow{
        height: 80px;
    }

    .ant-layout-sider-children{
        display: flex;
        flex-direction: column;

        .sidebarDivider{
            flex: 1;
        }
    }
}

.sidebarBackdrop {
    z-index: 9;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    background-color: rgba(120, 120, 120, 0.212);
}