.sidebarWrapper {
    z-index: 10;
    overflow: auto;
    height: 100dvh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;

    .ant-layout-sider-children {
        display: flex;
        flex-direction: column;

        .titleMiniRow {
            height: var(--navbar-height);

            .ant-typography {
                margin: 0 !important;
                font-family: monospace;
            }
        }
        .titleDivider{
            margin-top: 0 !important;
        }

        .sidebarDivider {
            flex: 1 !important;
        }
    }
}

.sidebarBackdrop {
    z-index: 9;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    background-color: rgba(120, 120, 120, 0.212);
}