body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: transparent !important;
}

.ant-menu-item-disabled {
  cursor: default !important;
}

.ant-menu-root {
  border: none !important;
}

button {
  align-items: center !important;
  display: flex !important;
}

.ant-layout-sider,
.ant-layout-sider * {
  transition: none !important;
}



* {
  box-sizing: border-box;
}

/* variables for colors */

:root {
  --white: #fff;
  --hard-mask: rgba(255, 255, 255, 0.75);
  --mask: rgba(255, 255, 255, 0.5);
  --dark-mask: rgba(0, 0, 0, 0.5);
  --hard-dark-mask: rgba(0, 0, 0, 0.75);
  --black: #000;

  --navbar-height: 60px;
}